.mini-feeder-list {
  padding: 20px 80px;
  &_item {
    cursor: pointer;
    padding: 10px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,.2);
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    h2 {
      margin-top: 0;
    }
    time {
      color: #5d686f;
      font-size: 14px;
      font-weight: normal;
      margin-left: 1em;
    }
  }
}
