@keyframes fy-loading-default {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fy-loading {
  position: relative;
  text-align: center;
  &_content {
    filter: blur(10px);
  }
  &::before {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border-width: 0.5em;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    margin-top: 1em;
    margin-bottom: 1em;
    z-index: 100;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.type-normal::before {
    border-left-color: #1e90ff;
    animation: fy-loading-default 1s infinite linear;
  }
  &.type-dark::before {
    border-color: rgba(0, 0, 0, 0.2);
    border-left-color: #333;
    animation: fy-loading-default 1s infinite linear;
  }
  &.box {
    text-align: left;
    min-height: 5em;
  }
  &.box::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5em;
    margin-left: -1.5em;
  }
  &.box.page::before {
    top: 50vh;
  }
  &.box::after {
    background-color: transparent;
  }
  &.hidden {
    .fy-loading_content {
      filter: none;
    }
  }
  &.hidden::after,
  &.hidden::before {
    display: none;
  }
}
